.homepage-holder {
    height: 100vh;
    background-color: rgb(240, 244, 245);
}

.card{
    margin-top: 50px;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-bottom: 7px solid #33a4c9;
    background: white;
}

.card:hover{
    cursor: pointer;
    background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
    color: white;    
}


.card-group {
    margin: auto;
    vertical-align: middle;
    text-align: center;
}


.btn {
    display:inline-block; 
    vertical-align: bottom;
}

section {
    padding: 50px;
}
