<div class="homepage-holder">
  <div class="content-fluid">
    <section>
      <nav aria-label="breadcrumb">
        <p class="h2">Homepage</p>
        <hr />
      </nav>
      <div class="card-group">
        <div class="col-sm-12 col-md-3">
          <div class="card" [routerLink]="['/sale']">
            <img class="card-img-top" src="../resources/market-peppers_925x.jpg'" alt="Sale img">
            <div class="card-body">
              <h5 class="card-title">Sales</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="card" [routerLink]="['/list-product']">
            <img class="card-img-top" src="../resources/market-peppers_925x.jpg'" alt="Product img">
            <div class="card-body">
              <h5 class="card-title">Products</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="card" [routerLink]="['/list-employee']">
            <img class="card-img-top" src="../resources/market-peppers_925x.jpg'" alt="Employee img">
            <div class="card-body">
              <h5 class="card-title">Employees</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="card" [routerLink]="['/list-customer']">
            <img class="card-img-top" src="../resources/market-peppers_925x.jpg'" alt="Product img">
            <div class="card-body">
              <h5 class="card-title">Customers</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>