.edit-customer-holder {
    height: 100vh;
    background-color: rgb(240, 244, 245);
}

.form-customer{
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    border-bottom: 7px solid #33a4c9;
    background: white;
}

section {
    padding: 50px;
}

.btn {
    display:inline-block; 
}

.input-group-text {
    color: black;
    font-weight: bold;
}