<div class="edit-customer-holder">
  <div class="content-fluid">
    <section>
      <nav aria-label="breadcrumb">
        <p class="h2">Edit Customer</p>
        <hr />
        <ol class="breadcrumb" style="background-color: transparent; padding: 0px;">
          <li class="breadcrumb-item">
            <a [routerLink]="['/homepage']">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/list-customer']">Customers</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
      </nav>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form-customer">
        <div class="form-row">
          <div class="form-group col-sm-12 col-md-6">
            <input type="text" id="customer-first-name" formControlName="firstName" class="form-control" placeholder="First Name"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First name is required</div>
            </div>
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <input type="text" id="customer-last-name" formControlName="lastName" class="form-control" placeholder="Last Name"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last name is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12 col-md-6">
            <div class="form-group">
              <input type="text" id="customer-cpf" formControlName="cpf" class="form-control" placeholder="CPF">
              <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
                <div *ngIf="f.cpf.errors.required">Cpf is required</div>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-12 col-md-6" style="text-align:center; vertical-align:middle;">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" id="customer-discount" class="custom-control-input" formControlName="discount">
              <label class="custom-control-label" for="customer-discount">Have Discount?</label>
            </div>
          </div>
        </div>
        <button type="button|submit" class="btn btn-success float-right" style="margin-left: 15px;">
          <span>Cofirm</span>
        </button>
        <button type="button|reset" class="btn btn-danger float-right" [routerLink]="['/list-employee']">
          <span>Cancel</span>
        </button>
      </form>
    </section>
  </div>
</div>