<div class="list-customer-holder">
  <div class="content-fluid">
    <section>
      <nav aria-label="breadcrumb">
        <h2>Customers</h2>
        <hr />
        <ol class="breadcrumb" style="background-color: transparent; padding: 0px;">
          <li class="breadcrumb-item">
            <a [routerLink]="['/homepage']">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Customers</li>
        </ol>
      </nav>
      <div class="table-customer">
        <div style="margin-bottom: 20px;">
          <button type="button" class="btn btn-dark fa fa-chevron-left" [routerLink]="['/homepage']">
            <span>&nbsp;Return</span>
          </button>
          <button type="button" class="btn btn-primary fa fa-plus" style="margin-left: 20px;" [routerLink]="['/add-customer']">
            <span>&nbsp;New</span>
          </button>
        </div>
        <div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">CPF</th>
                <th scope="col">Name</th>
                <th scope="col">Have discount?</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers">
                <th scope="row">{{customer.id}}</th>
                <td>{{customer.cpf}}</td>
                <td>{{customer.firstName + " " + customer.lastName}}</td>
                <td>{{customer.haveDiscount ? 'Yes' : 'No'}}</td>
                <td>
                  <button type="button" class="btn btn-danger fa fa-trash" (click)="delCustomer(customer.id)"></button>
                  <button type="button" class="btn btn-success fa fa-edit" (click)="editCustomer(customer)" style="margin-left: 20px;"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>