<div class="list-customer-holder">
  <div class="content">
    <h2>Customers</h2>
    <br>
    <button class="btn" style="display:inline-block;" (click)="addCustomer()">Add Customer</button> <br>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>CPF</th>
          <th>Have Discount?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.cpf}}</td>
          <td>{{customer.haveDiscount}}</td>
          <td></td>
          <td>
            <button class="btn" (click)="delCustomer(customer)">Delete</button>
            <button class="btn" (click)="attCustomer(customer)" style="margin-left: 20px;">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>