<div class="list-customer-holder">
  <div class="content">
    <h2>Customers</h2>
    <br>
    <button class="btn btn-primary" style="display:inline-block;" (click)="addCustomer()">New</button> <br>
    <br>
    <table class="table table-striped">
      <thead class ="thead-dark">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>CPF</th>
          <th>Have discount?</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.id}}</td>
          <td>{{customer.firstName + " " + customer.lastName}}</td>
          <td>{{customer.cpf}}</td>
          <td>{{customer.haveDiscount ? 'Yes' : 'No'}}</td>
          <td></td>
          <td>
            <button class="btn btn-danger" (click)="delCustomer(customer)">Delete</button>
            <button class="btn btn-info" (click)="editCustomer(customer)" style="margin-left: 20px;">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>