.add-employee-holder {
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.form-employee{
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    border-bottom: 7px solid #33a4c9;
    background: white;
}

section {
    margin: 50px;
}

hr {
    display: block;
    border: 1px solid #33a4c9;
}

.btn {
    display:inline-block; 
}

.input-group-text {
    color: black;
    font-weight: bold;
}