<div class="list-employee-holder">
  <div class="content-fluid">
    <section>
      <nav aria-label="breadcrumb">
        <p class="h2">Employees</p>
        <hr />
        <ol class="breadcrumb" style="background-color: transparent; padding: 0px;">
          <li class="breadcrumb-item">
            <a [routerLink]="['/homepage']">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Employees</li>
        </ol>
      </nav>
      <div class="table-employee">
        <div style="margin-bottom: 20px;">
          <button type="button" class="btn btn-dark fa fa-chevron-left" [routerLink]="['/homepage']">
            <span>&nbsp;Return</span>
          </button>
          <button type="button" class="btn btn-primary fa fa-plus" style="margin-left: 20px;" [routerLink]="['/add-employee']">
            <span>&nbsp;New</span>
          </button>
        </div>
        <div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">CPF</th>
                <th scope="col">Name</th>
                <th scope="col">Salary</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees">
                <th scope="row">{{employee.id}}</th>
                <td>{{employee.cpf}}</td>
                <td>{{employee.firstName + " " + employee.lastName}}</td>
                <td>{{'R$' + employee.salary}}</td>
                <td>
                  <button type="button" class="btn btn-danger fa fa-trash" (click)="delEmployee(employee.id)"></button>
                  <button type="button" class="btn btn-success fa fa-edit" (click)="editEmployee(employee)" style="margin-left: 20px;"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>