<div class="edit-product-holder">
  <div class="content-fluid">
    <section>
      <nav aria-label="breadcrumb">
        <p class="h2">New Product</p>
        <hr />
        <ol class="breadcrumb" style="background-color: transparent; padding: 0px;">
          <li class="breadcrumb-item">
            <a [routerLink]="['/homepage']">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/list-product']">Products</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">New</li>
        </ol>
      </nav>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form-product">
        <div class="form-row">
          <div class="form-group col-sm-12 col-md-6">
            <input type="text" id="product-bar-code" formControlName="barCode" class="form-control" placeholder="Corde"
              [ngClass]="{ 'is-invalid': submitted && f.barCode.errors }">
            <div *ngIf="submitted && f.barCode.errors" class="invalid-feedback">
              <div *ngIf="f.barCode.errors.required">Bar Code is required</div>
            </div>
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <input type="text" id="product-name" formControlName="name" class="form-control" placeholder="Description"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Description is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-12 col-md-4">
            <div class="input-group">
              <div class="input-group-prepend mb-2">
                <span class="input-group-text">R$</span>
              </div>
              <input type="number" id="product-price" formControlName="price" class="form-control currency" placeholder="Price"
                style="text-align: center;" min="0.00" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
              <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required">Price is required</div>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-12 col-md-4">
            <input type="number" id="product-quantity" formControlName="quantity" class="form-control" placeholder="Quantity"
              style="text-align: center;" min="0" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }">
            <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
              <div *ngIf="f.quantity.errors.required">Quantity is required</div>
            </div>
          </div>

          <div class="form-group col-sm-12 col-md-4" style="text-align:center; vertical-align:middle;">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" id="product-discount" class="custom-control-input" formControlName="haveDiscount">
              <label class="custom-control-label" for="product-discount">Have Discount?</label>
            </div>
          </div>
        </div>
        <button type="button|submit" class="btn btn-success float-right" style="margin-left: 15px;">
          <span>Confirm</span>
        </button>
        <button type="button|reset" class="btn btn-danger float-right" [routerLink]="['/list-product']">
          <span>Cancel</span>
        </button>
      </form>
    </section>
  </div>
</div>